@import "_global";

main {
    margin-top: 1rem;
    // margin: auto;

    .container {
        background: #fff;
        padding: 2rem;
        border-radius: 1rem;
        justify-content: space-between;

        section {
            width: 100%;

            &.data {
                text-align: center;
                margin-right: 2.5rem;
                width: fit-content;

                .chart {
                    margin-top: 1rem;

                    .charts {
                        max-width: 300px;

                        select {
                            margin-bottom: 1rem;
                        }
                    }

                    canvas#ChartOne {
                        max-height: 200px;
                        margin-bottom: 2rem;
                    }
                }
            }
        }

        #map {
            width: 400px;
            height: 100%;
            margin: 0;
        }
    }
}