@import "_global";

main {
    margin-top: 1rem;

    .container {
        background: #fff;
        padding: 2rem;
        border-radius: 1rem;
        justify-content: space-between;

        .data {
            text-align: center;
            width: 100%;
            max-height: 400px;
            margin-right: 2.5rem;

            h1 {
                margin-bottom: 1.5rem;
                text-align: left;
            }

            .secinfo {
                width: 100%;
                max-height: 344px;
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                padding-right: .5rem;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                &::-webkit-scrollbar-thumb {
                    background: #888;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

                nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    height: fit-content;

                    #back {
                        width: fit-content;
                        padding: .5rem 2rem;
                        border: 1px solid #eee;
                        border-radius: .4rem;
                        text-align: center;
                        margin-bottom: 1.2rem;
                        display: none;
                    }

                    #visibleList {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        li {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 48%;

                            div {
                                width: 100%;
                                height: 80px;
                                background: rgb(207, 207, 207);
                                margin-bottom: .5rem;
                            }

                            &:not(last-child) {
                                margin-bottom: 1.5rem;
                            }

                        }
                    }
                }

                article {
                    .chart {
                        display: none;
                        flex-direction: column;
                        justify-content: center;

                        h2 {
                            margin-bottom: 1.2rem;
                        }

                        .charts {
                            max-width: 100%;

                            select {
                                margin-bottom: 1rem;
                            }
                        }

                        canvas#ChartOne {
                            max-height: 200px;
                            margin-bottom: 2.5rem;
                        }
                    }
                }
            }
        }

        .secmap {
            width: 45%;
            max-width: 400px;

            #map {
                min-width: 280px;
                height: 400px;
                margin: 0;
            }
        }



        // section {
        //     // width: 100%;

        //     &.data {
        //         text-align: center;
        //         margin-right: 2.5rem;
        //         width: fit-content;


        //         .chart {
        //             margin-top: 1rem;
        //             display: none;

        //             .charts {
        //                 max-width: 300px;

        //                 select {
        //                     margin-bottom: 1rem;
        //                 }
        //             }

        //             canvas#ChartOne {
        //                 max-height: 200px;
        //                 margin-bottom: 2rem;
        //             }
        //         }


        //         ul {
        //             padding-left: 1.5rem;

        //             li {
        //                 width: fit-content;
        //             }
        //         }
        //     }

        // }
    }
}